<header class="main-header">
    <a href="/panel/" class="logo">
        <span class="logo-mini">
            <b>Backlays Panel</b>
        </span>
        <span class="logo-lg">
            <b>Backlays Panel</b>
        </span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="/panel/actionLogout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
